.footer{
  background-color: #161C28;
 
}
.footertext1{
  color:white;
}
.footer-text{
  color: rgb(255, 255, 255);
  font-size: 18 px;
}
.product{
 color:white;
 font-size: 18px;
}
.help{
  color:white;
  font-size: 18px;
}

.support{
  color: white;
  font-size: 18px;
}
.footer-tittle{
  color: #54BD95;
  font-size:50px;
}

.biccas-text{
  font-size: 18px;
  color:#ffffff;
}

.aria-zinnanrio{
font-size: 18px;
color: white;
}

.navbar-brand{
  font-size: 50px;
  color: #54BD95;
}


.card{
width: 437px;
height: 290px;
right: -1100px;
background: #52BD94;
}

.card-img-top{
width: 437px;
height: 438px;
left: -49px;
top: 92px;
background: #52BD94;
}
