.footer{
  background-color: #161C28;
 
}
.footertext1{
  color:white;
}
.footer-text{
  color: rgb(255, 255, 255);
  font-size: 18 px;
}
.product{
 color:white;
 font-size: 18px;
}
.help{
  color:white;
  font-size: 18px;
}

.support{
  color: white;
  font-size: 18px;
}
.footer-tittle{
  color: #54BD95;
  font-size:50px;
}

.biccas-text{
  font-size: 18px;
  color:#ffffff;
}

.aria-zinnanrio{
font-size: 18px;
color: white;
}

.navbar-brand{
  font-size: 50px;
  color: #54BD95;

}


.card-img-top{
width: 437px;
height: 438px;
left: -49px;
top: 92px;
background: #52BD94;
}

.col-p1{
  font-weight:700;
  font-size: 80px;
  line-height:90px;
  margin-left: 15px;
}

.col-p2{
font-weight: 500px;
font-size: 18px;
line-height: 30px;
margin-left: 15px ;
}

.btn-try{
  background: #54BD95;
  margin-left: 15px;
  border-radius: 40px;
  width: 165px;
  height: 62px;
  color: white;
  border-color:#54BD95;
  border-style: hidden;
}

.view-demo{
  border: 1.5px;
  width: 31.67px;
  height: 31.67px;
  border: 1.5px solid #191A15;
  border-style: hidden;
}

.p3{
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  line-height: 48px;
  font-weight: bold;
  margin-top: 85px;
  margin-bottom: 50px;
}

.p4{
  margin-top: 40px;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  left: 130px;
  margin-left: 18px;
}

.p5{
font-weight: 500;
font-size: 16px;
line-height: 30px;
margin-left: 15px;
left: 130px;
color: #A6A6A6;
}

.p6{
  color:#A6A6A6;;
}

.p7{
  margin-left: 130px;
  padding-top: 60px;
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px; 
}

.p8{
margin-left: 113px;
padding-top: 60px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
color: #A6A6A6;
line-height: 30px; 
}

.btn-get{
margin-left: 200px; 
margin-top: 60px;
background: #54BD95;
border-radius: 40px;
width: 165px;
height: 62px;
color: white;
border-color:white;
border-style: hidden;
}

 @media (min-width: 500px) {
  .col-p1 > {
    font-size: 10px;
    color: pink;
  }
}

.kredi-kart{
  position: relative;
  left: -40px;
  margin-top: 80px;
  padding-top: 80px;
}

.vector-img{

}

.btn-sign{
  background: #54BD95;
  border-radius: 10px;
  color: white;
  border-style: hidden;
}



#exampleInputEmail1{
width: 440px;
height: 50px;
top: 224px;
border-radius: 10px;
margin-top: 224px;
}

#exampleFormControlTextarea1{
width: 440px;
height:70px;
top: 336px;
border-radius: 10px;
}